.container {
  width: 1000px;
  height: 530px;
  display: inline-flex;
  padding: 20px;
  flex-direction: column;
  gap: 22px;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

     .logo {
      display: flex;
      gap: 8px;
      h1 {
        color: var(--primary-color, #2f9e41);
        font-feature-settings: "clig" off, "liga" off;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }

  .content {
    border: 1px solid red;
    height: 400px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32.811px;
    padding: 11.666px 17.499px;
    gap: 5.833px;
    outline: none;
    cursor: pointer;
    
    .cancel {
     color: red;
    }
  }
}
