:root {
    /* PRIMARY */
    --primary-color: #2F9E41;
    
    --aviso1-background: #FF5733;
    --aviso1-text-color: #FFFFFF;
  
    --aviso2-background: #3498DB;
    --aviso2-text-color: #FFFFFF;

}

*{
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

